<iframe width="500" height="400" src="about:blank" id="lbIframe"></iframe>
<div class="console-wrapper">
      <div class="console-wrapper-top sprites"></div>
      <div class="console-wrapper-borders bgs">
        <div class="console">
        </div>
      </div>
      <div class="console-wrapper-bottom sprites"></div>
    </div>


