<div id="donation" style="display: none">
<h2 style="margin-left:150px">Please Support Try Ruby!</h2>
<div style="float:left; width:50px;margin-left:150px">
<a class="FlattrButton" style="display:none;"
href="http://tryruby.org"></a>
</div>
<div style="float:right;margin-right:130px;margin-top:10px">
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="BCJ27GDQ6PRM4">
  <input type="image" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/WEBSCR-640-20110306-1/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>
</div> 
<div style="clear:both"></div> 
	<p>First, I'd like to thank the over 365,345 (three hundred sixty five thousand three hundred fourty five) people who have used Try Ruby (globally) over 508,600 (five hundred eight thousand six hundred) times in the last two years! </p> 
	 <p> It has been an honor and a privlege to help restore such a fantastic resource.</p>
	<p>  Because of the fun nature of Try Ruby, it only makes sense to allow it to reach its  full potential. </p>
	<p>Specifically, Try Ruby must have lessons for the full language.</p>
	<p>A partial list includes</p>
	<ul>
	<li>Blocks, Lambdas, Closures, and Procs</li>
	<li>Object Model <small>(DrX with a live svg front end)</small></li>
	<li> Metaprogramming </li>
	<li>Sandboxing</li>
	<li>Standard lib</li>
	<li>Unit Testing & Outside in Behavior Driven Development</li>
	<li>The Ruby VM <small>(Garbage Collection, Tuning, etc)</small></li>
	<li>Try Ruby Offline & Mobile versions.</li>
	</ul>
	  
	 <p> I have gladly covered the hosting expense (currently amazon ec2 small instance, and before that a dedicated box) for the last two years.
	 <br> The smile people have when experiencing the beauty of Ruby has been more than worth it. :-)</p>
	 <p> However, in order allow Try Ruby's potential to flourish- muchless stay online- I am currently raising funds. I have never placed ads or sold any information collected by Try Ruby. Please donate to help this site reach its full potential.</p>
	 <p> If all goes well, I will have weekly lessons, much in the spirit of Railscasts. <br>Obviously these would be interative lessons.</p>
	  <p>Last,  I'd like to thank David Miani for helping me reassemble Try Ruby when _why disappeared*. Also, a thanks goes out to Adrian aka "Orangea" for his eairly work in finding security holes and helping with other misc issues. A deep thanks also goes out to everyone who has ever reported a bug or issue with Try Ruby.</p>
	  <p><b>Thank You.</b>
	  <br>Respectfully,<br><br>
	  Andrew McElroy</p>
<div class="footnote-facebox"><small>* _why the lucky stiff was the origional creator of Try Ruby. However he vanished from the Internet over two years ago. He took his copy of Try Ruby with him. We had to completely reimplement Try Ruby.</small></div>
</div>