<h1>Listing irb</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @irb.each do |irb| %>
  <tr>
    <td><%= link_to 'Show', irb %></td>
    <td><%= link_to 'Edit', edit_irb_path(irb) %></td>
    <td><%= link_to 'Destroy', irb, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Irb', new_irb_path %>
