body {
    font-family: verdana, arial, sans-serif;
	font-size: 14px;
    text-align: center;
}
h1, h2, h3, h4 {
    font-family: georgia, serif;
    margin: 10px 16px; padding: 0;
}
h1 {
    color: #333;
    font-size: 48px;
    font-weight: normal;
    margin: 10px 0px;
}
h3 {
    color: white;
    font-size: 21px;
    font-weight: normal;
}
a,a:link,a:visited {
	text-decoration: none;
	color: #57ad11;
}
a:hover {
	text-decoration: underline;
	color: #57ad11;
}
a:active {
	text-decoration: underline;
	color: #dddddd;
}
input.keyboard-selector-input {
    position: fixed;
    top: 0;
    _position: absolute;
    _top: expression(eval(document.body.scrollTop));
    left: -300px;
}
#container {
    width: 678px;
    margin: 0 auto;
    text-align: left;
}
#content {
    width: 712px;
    background: url(/images/tile.png) repeat-y;
}
#lilBrowser {
    position: absolute;
    background-color: white;
    top: -540px;
    left: -440px;
    width: 510px;
    height: 430px;
    padding: 5px;
    border: solid 1px #444;
    z-index: 100;
}
h3#lbTitle {
    color: #444;
    font-family: verdana, arial, sans-serif;
    font-size: small;
    float:left;
    line-height: 90%;
    margin: 0; padding: 3px;
}
p#lbClose {
    font-size: small;
    float: right;
    margin: 0; padding: 3px;
}
p#lbClose a {
    display: inline;
}
#shellwin {
    width: 712px;
    padding-left: 12px;
    background: url(/images/background.png) no-repeat;
}

/* tutorial panes */
.stretcher {
    color: #f1f1ff;
    display: none;
    margin: 0;
    padding: 0;
    padding-left: 12px;
    background: url(/images/tile.png) repeat-y;
}
.stretcher a, .stretcher a:link, .stretcher a:visited, .stretcher a:active {
	text-decoration: none;
	color: #a7ed91;
}
.stretcher a:hover {
	text-decoration: underline;
	color: #b7fd91;
}
.stretcher p {
    margin: 10px 16px;
}
.stretcher dl, .stretcher ul {
    background-color: white;
    color: #333;
    padding: 4px 8px;
	font-size: 12px;
    margin-left: 16px;
    list-style: none;
}
.stretcher li {
    margin: 6px;
}
.stretcher p code {
    background-color: #874a20;
    color: #fedeec;
    padding: 1px 4px;
}
.stretcher p code.cmd {
    background-color: #eeeeec;
    color: #204a87;
}
.stretcher dt {
    font-weight: bold; 
}

.chapmark {
  padding: 6px 0;
    margin-left: 12px;
    margin-right: 22px;
    color: #553;
    background: #efefe1;
}
.chapmark h3 {
    color: #335;
}
.chapmark a, .chapmark a:link, .chapmark a:visited, .chapmark a:active {
	text-decoration: none;
	color: #372d61;
}
.chapmark a:hover {
	text-decoration: underline;
	color: #477d51;
}
.note { color: #ddc; text-align: center; font-size: xx-small; }
ul li strong { color: #286; border-bottom: solid 2px #cca; }
ul li code { background-color: #f1f1f1; padding: 1px 3px; border-bottom: solid 2px #ddd; }
ul li code.faded { color: #899; }
code strong { background-color: #dcffb9; padding: 1px 3px; }
ul.commands li strong { display: block; float: left; width: 60px; border: none; }

/* irb terminal */
#terminal {
    background-color: #f2f2f0;
    border: solid 1px #204a87;
    width: 678px;
    height: 240px;
    overflow: auto; 
}
#irb {
    visibility: hidden;
    padding: 4px; margin: 0;
	font-family: "Andale Mono", courier, fixed, monospace;
    font-size: 14px;
    line-height: 16px;
    color: #204a87;
    text-align: left;
}
#irb div {
    margin: 0; padding: 0;
}
#irb div b {
    background-color: #874a20;
    color: #fedeac;
}
div.answer, div.stdout, div.no_answer, div.load {
    display: none;
}

/* terminal escape colors */
span.fore_black { color: #2e3436; }
span.fore_dark_gray { color: #888a85; }
span.fore_gray { color: #babdb6; }
span.fore_white { color: #eeeeec; }
span.fore_blue { color: #204a87; }
span.fore_lt_blue { color: #729fcf; }
span.fore_green { color: #788600; font-weight: bold; }
span.fore_lt_green { color: #cbe134; }
span.fore_cyan { color: #c4a000; } /* using cyan for yellows */
span.fore_lt_cyan { color: #fc994f; }
span.fore_red { color: #a40000; }
span.fore_lt_red { color: #ef2929; font-weight: bold; }
span.fore_purple { color: #5c3566; }
span.fore_lt_purple { color: #ad7fa8; }
span.fore_brown { color: #8f5972; }
span.fore_lt_brown { color: #b9b9de; }
span.back_black { background-color: #2e3436; }
span.back_dark_gray { background-color: #888a85; }
span.back_gray { background-color: #babdb6; }
span.back_white { background-color: #eeeeec; }
span.back_blue { background-color: #204a87; }
span.back_lt_blue { background-color: #729fcf; }
span.back_green { background-color: #788600; }
span.back_lt_green { background-color: #cbe134; }
span.back_cyan { background-color: #c4a000; } /* using cyan for yellows */
span.back_lt_cyan { background-color: #fce94f; }
span.back_red { background-color: #a40000; }
span.back_lt_red { background-color: #ef2929; }
span.back_purple { background-color: #5c3566; }
span.back_lt_purple { background-color: #ad7fa8; }
span.back_brown { background-color: #8f5902; }
span.back_lt_brown { background-color: #b9b96e; }
