<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Try Haskell! An interactive tutorial in your browser</title>
    <meta name="Content-Type" content="text/html; charset=UTF-8">
    
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/tryhaskell.css" type="text/css" media="screen">
    <!--[if lte IE 6]>
        <style type="text/css" media="screen">
          div.primary-content { width:600px;margin-left:70px;float:left }
        </style>
        <![endif]-->
    <script type="text/javascript" src="/javascript/lib.min.js"></script>
    <script type="text/javascript" src="/javascript/jquery.console.js"></script>
    <script type="text/javascript" src="/javascript/tryhaskell.js"></script>
    <script type="text/javascript" src="/javascript/raphael-min.js"></script>
    <script type="text/javascript" src="/javascripts/mouseirb_2.js"></script>
  </head>
  <body>
    <div class="page-wrap">
      <div class="primary-content">
        <div class="main-wrapper bgs2">
          <div class="main-wrapper-top sprites"></div>
          <div class="main-wrapper-borders bgs">
            <h1 class="main-header sprites">Try Haskell! An interactive tutorial in your
              browser</h1>
            <div class="menu clearfix">
              <a class="reset-btn sprites" href="javascript:">
                <span>Reset</span>
              </a>
            </div>
            <div class="clear"></div>

		  <div id="content">
		        <div id="lilBrowser">
		            <div id="lbTitlebar">

		                <h3 id="lbTitle">A Popup Browser</h3>
		                <p id="lbClose">[<a href="javascript:void(window.irb.options.popup_close());">x</a>]</p>
		            </div>
		            <%= yield %>


		        </div>
		        <div id="shellwin">

		        <div id="terminal">
		            <div id="irb"></div>
            <div class="console-wrapper">
              <div class="console-wrapper-top sprites"></div>
              <div class="console-wrapper-borders bgs">
                <div class="console">
	
                </div>
              </div>
              <div class="console-wrapper-bottom sprites"></div>
            </div>
            <div class="guide-wrapper" style="margin-bottom:10px">
              <div class="guide-wrapper-top sprites"></div>
              <div class="guide-wrapper-borders bgs">
                <div id="raphael">
                </div>
              </div>
              <div class="guide-wrapper-bottom sprites"></div>
            </div>
            <div class="guide-wrapper">
              <div class="guide-wrapper-top sprites"></div>
              <div class="guide-wrapper-borders bgs">
                <div class="guide">
                  <p>
                    Welcome to your first taste of Haskell! Let's try Haskell right now!
                  </p>
                  <h3>Beginners</h3>
                  <div class="indent">
                    <p>Type <code>help</code> to start the
                      tutorial. Type <code>lessons</code> to see the
                      list of lessons.</p>
                    <p>Or try typing these out and see what happens
                      <small class="note">(click to insert)</small>:</p>
                    <ul>
                      <li>
                        <code>23*36</code>
                      </li>
                      <li>
                        <code>reverse "hello"</code>
                      </li>
                    </ul>
                  </div>
                  <div id="learn-more">
                    <h3>Learn More</h3>
                    <div class="indent">
                      <p class="clearfix">
                        <a class="tryhaskellcover sprites"
                           href="http://book.realworldhaskell.org/"
                           title="Real World Haskell"><span>Real World Haskell!</span></a>
                        Get stuck into a book with
                        <a href="http://book.realworldhaskell.org/">Real
                          World Haskell</a> <small class="note">
                          (readable online!)</small>, published by O'Reilly Media.
                        Checkout
                        <a href="http://haskell.org/"
                           title="Haskell home page">Haskell.org</a>
                        for more information about Haskell.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="guide-wrapper-bottom sprites"></div>
            </div>
          </div>
          <div class="main-wrapper-bottom sprites"></div>
        </div>
        <div class="footer-wrapper bgs2 clearfix">
          <div class="footer-wrapper-top sprites"></div>
          <div class="footer-wrapper-borders bgs">
            <div class="footer">
              <p>
                <a href="http://chrisdone.com/posts/2010-04-05-haskell-json-service-tryhaskell.html">Evaluation
                  service</a>
                and <a href="http://github.com/chrisdone/tryhaskell">Try
                  Haskell</a> by
                <a href="http://chrisdone.com/">
                  Chris Done,
                </a>
                concept and interface blatantly copied from
                <a href="http://tryruby.org/"
                   title="_why's Try Ruby">
                  _why's Try Ruby!</a>,
                Haskell evaluator powered by a patched version of
                <a href="http://hackage.haskell.org/package/mueval"
                   title="mueval on Hackage">
                  Gwern Branwen's mueval</a>,
                <a href="http://github.com/chrisdone/jquery-console">console
                  library</a> proudly written in
                <a href="http://jquery.com/">
                  JQuery.
                </a>
              </p>
            </div>
          </div>
          <div class="footer-wrapper-bottom sprites"></div>
        </div>
      </div>
    </div>
  </body>
</html>
